@{
    ViewData["Title"] = "Acesso Negado";
}

<div class="content content-auth">
    <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-2 text-center">
                <a href="/" class="df-logo">
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                </a>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <hr class="mg-y-30">

        <div class="content content-fixed content-auth-alt">
            <div class="container d-flex justify-content-center ht-100p">
                <div class="mx-wd-300 wd-sm-450 ht-100p d-flex flex-column align-items-center justify-content-center">
                    <h4 class="tx-20 tx-sm-24">Acesso Negado</h4>
                    <p class="tx-color-03 mg-b-30 tx-center">Você não tem acesso a esse recurso.</p>
                </div>
            </div>
        </div>
    </div>
</div>